body {
    background: url('../img/editor.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, .6);
    border-bottom: 5px solid #FF4032;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    /* margin-left: 6px; */
}