<!DOCTYPE html>
<html lang="en">

<head>
    <title>TableroCodeWrite</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--tengo que agregar-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="css/fontAwesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/logo2.png" class=" rounded-circle img-thumbnail" type="image/x-icon">
</head>

<body>
    <div class="container-fluid seccion-body">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <div class="logo text-center mt-1">
                    <div >
                        <!--<h5>
                            <img src="img/logo2.png" width="75px" height="75px" class="mr-3 rounded-circle img-thumbnail">Bienvenid@ 
                        </h5>-->
                            <img src="img/logo2.png" width="75px" height="75px" class="mb-2  rounded-circle img-thumbnail">
                        <h5 class="">Bienvenid@ {{user.nombre}} </h5>
                    </div>
                </div>

                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a id="miUnidad">
                        <i class="fas fa-laptop icono-barra" id="miUnidad"></i>
                        <span>Mi unidad</span>
                    </a>
                    <a id="compartirConmigo">
                        <i class="fas fa-share-square icono-barra"></i>
                        <span>Compartir conmigo</span>
                    </a>
                    <a id="destacado">
                        <i class="far fa-clock icono-barra" ></i>
                        <span>Destacados</span>
                    </a>

                    <a href="/codeWrite">
                        <i class="fas fa-file-code icono-barra"></i>
                        <span>Editor de Texto</span>
                    </a>
                    <a id="almacenamiento">
                        <i class="fas fa-hdd icono-barra"></i>
                        <span>Almacenamiento</span>
                    </a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="/logout">
                        <i class="fas fa-power-off icono-barra"></i>
                        <span>Cerrar sesión</span>
                    </a>

                </nav>
            </div>

            <div class="col">
                <nav class="row navbar navbar-expand-md navbar-light barra-horizontal">
                    <div class="collapse navbar-collapse" id="navbarPrincipal">
                        <div class="col-lg-8">

                        </div>
                        <div class="col-lg-4  imagen text-right" style="margin-top: 5px;
                        margin-bottom: 5px;">
                
                            <a href="#">
                                <i class="fas fa-bell mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-comments mr-3"></i>
                            </a> 

                            <a href="#" class="imagen  mr-3">
                                
                                <img src="img/profile.jpg" width="27px" height="27px" class="mr-3">{{user.nombre}} {{user.apellido}}
                            </a>
                        </div>
                    </div>
                </nav>

                <section class="col">
                    <div class="col-lg-8">
                        <div class="input-group mt-3">
                            <input type="search" class="form-control" id="Buscar" placeholder="Buscar">
                            <div class="input-group-append">
                                <button class="btn btn-primary" style="border: none;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>

                        <div class="input-group mt-3 mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi unidad</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-folder-open mr-2"></i>
                                        <span>Nueva carpeta</span>
                                    </a>
                                    <hr>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-file-upload mr-2"></i>
                                        <span>Subir archivos</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-file-upload mr-2"></i>
                                        <span>Subir carpetas</span>
                                    </a>
                                </div>
                            </div>


                            <a class="iconoPapelera" id="papeleraReciclaje">
                                <i  class="fas fa-trash-alt"></i>
                            </a>
                            <!--papelera de reciclaje-->
                            {{!-- <spam class="iconoPapelera" id="papeleraReciclaje">
                                <i class="fas fa-trash-alt"></i>
                            </spam> --}}
                        </div>

                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del archivo</th>
                                <th scope="col">Fecha de creacion</th>
                                <th scope="col">Acciones</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{!--con javaScript se actualizara  --}}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js "></script>
    <script src="js/popper.min.js "></script>
    <script src="js/fontAwesome.min.js"></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/body.js"></script>
</body>

</html>