<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/logo2.png" class=" rounded-circle img-thumbnail" type="image/x-icon">
    <!--Librerias-->
    <script src="lib/codemirror.js"></script>
    <script src="lib/codemirror.js"></script>
    <script src="mode/javascript/javascript.js"></script>
    <script src="mode/css/css.js"></script>
    <script src="mode/xml/xml.js"></script>
    <script src="addon\edit/closetag.js"></script>
    <script src="addon/hint/show-hint.js"></script>
    <script src="addon/hint/javascript-hint.js"></script>
    <!--Referencias de los estilos del editor-->
    <link rel="stylesheet" href="addon/hint/show-hint.css">
    <link rel="stylesheet" href="lib/codemirror.css">
    <link rel="stylesheet" href="theme/rubyblue.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilosEditor.css">
    


    <!--Nombre de la pagina-->
    <title>Editor CodeWrite</title>

</head>

<body>
    <header class="text-center">
        <img src="img/logo2.png" width="75px" height="75px" class="mr-3 rounded-circle img-thumbnail ">
        <h3 class="text-center">Bienvenido al editor de CodeWrite</h3>
    </header>
               
    <strong class="ml-3" >Ingrese el nombre del archivo</strong>
    <input type="text" class="form-control w-25 ml-3 mt-2" placeholder="Nombre de archivo" id="txt-nombreArchivo"><br>
    <button type="button" class="btn btn-success mb-3 ml-3" id="btn-guardar">Guardar archivo</button>
    <textarea id="txta-codeWrite">

    </textarea>
    
    <!--Script que tengo que agregar-->
    <script src="js/jquery-3.3.1.min.js "></script>
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/fontAwesome.min.js "></script>
    <script src="js/codeWrite.js"></script>
    
    
</body>

</html>