<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registrar Usuario</title>
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--agregar-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">

</head>
<body class="fondo-registrar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron margin-jumbotron ">
                    <h2 class="display-5 mb-3">Crea tu cuenta para Write Code</h2>
                    <p class="lead mb-4">para continuar, ingresa la siguiente informacion</p>
                    <!--Formulario de Registrar-->
                    <form action="/registrar" method="POST" class="needs-validation" novalidate>
                        <div class="form-group row">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">
                                        <i class="fas fa-user-edit "></i>
                                    </span>
                                    <!--caja de text de nombre-->
                                    <input type="text" class="form-control " placeholder="Nombre" name="nombre" id="nombre" required>
                                    <div class="valid-feedback">
                                        nombre correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        ingrese su nombre!
                                    </div>
                                </div>
                            </div>
                            <!--caja de text de apellido-->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">
                                        <i class="fas fa-user-edit"></i>
                                    </span>
                                    <input type="text" class="form-control " placeholder="Apellido" name="apellido" id="apellido" required>
                                    <div class="valid-feedback">
                                        apellido correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        ingrese su apellido!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col mb-3">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">
                                        <i class="fas fa-envelope "></i>
                                    </span>
                                    <!--caja de text de correo electronico-->
                                    <input type="text" class="form-control" placeholder="Correo electronico" name="correoElectronico" id="correoElectronico"
                                        required>
                                        <div class="valid-feedback">
                                        correo electronico correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        ingrese su su correo electronico!
                                    </div>
                                    
                                </div>
                            </div>
                            <!--caja de text de contrase単a-->
                            <div class="col mb-3">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">
                                        <i class="fas fa-key "></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="Contrase単a" name="contrasena" id="contrasena" required>
                                    <div class="valid-feedback">
                                        contrase単a correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        ingrese una contrase単a!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--boton de registrar-->
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-9 col-md-4">
                                <button type="submit" class="btn btn-primary btn-block" id="btnRegistrar ">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- agregar-->
    <script src="js/jquery-3.3.1.min.js "></script>
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/fontAwesome.min.js "></script>
    <script src="js/validaciones.js"></script>
</body>

</html>